<div>
  <ul>
    <li *ngFor="let item of menuItems">
      <div *ngIf="item.selected; else elseBlock" class='selected'>
        <p>{{item.name}}</p>
      </div>
      <ng-template #elseBlock>
        <div (click)="onItemClick(item.id)">
          <p>{{item.name}}</p>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngSwitch]="selectedItem">
    <div *ngSwitchCase="'main'">
      <h1>
        Warframe
      </h1>
    </div>
    <div *ngSwitchCase="'companion'">
      <h1>
        Companion
      </h1>
    </div>
    <div *ngSwitchCase="'archwing'">
      <h1>
        archwing
      </h1>
    </div>
  </div>
</div>
