<div>
  <ul>
    <li *ngFor="let weapon of weapons">
      <div class="weapon">
        <img *ngIf="weapon.wikiaThumbnail; else PlaceholderImage" src="{{weapon.wikiaThumbnail}}"
          alt="{{weapon.name}} Thumbnail">
        <ng-template #PlaceholderImage>
          <img src="../../../assets/warframesPlaceholder.png" alt="PlaceholderImage">
        </ng-template>
        <div>
          <p>{{weapon.name}}</p>
        </div>
      </div>

    </li>
  </ul>
</div>

<app-back-button [value]="'VOLTAR'" (click)="onClick()"></app-back-button>
