
#container
  display: flex
  flex-direction: row
  div
    margin: 0px 25px

ul
  list-style: none
  padding: 0px
  margin: 0 auto
  text-align: center
  li
    display: inline-block
    vertical-align: top

    > div
    width: 200px
    height: 200px
    border-style: solid
    border-width: 1px
    border-color: #7159c1
    text-align: center
    margin:15px
    > *
      margin: 8px 
