*
  margin: 0
  padding: 0
div
  background: #13242b
  width: 485px
  ul
    padding: 5px
    list-style: none
    max-height: 650px
    overflow: auto
    columns: 3

    li
      display: inline
      .warframe
        background: lighten(#13242b, 6)
        border: #374248 solid 1px
        width: 150px
        height: 94px
        margin: 0px 0px 10px 0px
        img
          margin: 0px
          padding: 0px
          width: 150px
          height: 70px
          object-fit: cover
          object-position: 0 0
        div
          width: 150px
          height: 18px
          padding: 0px
          margin: 0
          background: #fff
          p
            margin: 2px
