<div>
  <ul>
    <li *ngFor="let item of menuItems|async">
      <div *ngIf="item.selected;else elseBlock" class='selected'>
        <p>{{item.name}}</p>
      </div>
      <ng-template #elseBlock>
        <div (click)="onItemClick(item.id)">
          <p>{{item.name}}</p>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngSwitch]="selectedValue">
    <div *ngSwitchCase="'World-Cycles'">
      <app-cetus-status [baseUrl]="baseUrl"></app-cetus-status>
      <app-earthcycle [baseUrl]="baseUrl"></app-earthcycle>
      <app-vallis-status [baseUrl]="baseUrl"></app-vallis-status>
    </div>
    <div *ngSwitchCase="'Events'">
      <h1>Cetus</h1>
    </div>
    <div *ngSwitchCase="'Earth'">
    </div>
    <div *ngSwitchCase="'Alertas/Arbritragens'">
      <app-alerts [baseUrl]="baseUrl"></app-alerts>
      <app-arbitration [baseUrl]="baseUrl"></app-arbitration>
    </div>
    <div *ngSwitchCase="'Invasions'">
      <app-invasion [baseUrl]="baseUrl"></app-invasion>
    </div>
    <div *ngSwitchCase="'Syndicato'">
      <h1>Syndicates</h1>
    </div>
    <div *ngSwitchCase="'Fissures'">
      <app-fissure [baseUrl]="baseUrl"></app-fissure>
    </div>
    <div *ngSwitchCase="'Recompensas'">
      <h1>Recompensas</h1>
    </div>

  </div>
</div>